/* Layout */

/*
By changing the values of these styling rules, the pieces of
the game can be changed to be whatever they need to be.
 */
 

/* Ensure the width for the pages is correct. */

.l-madLibs-input
{
	/*Change these values to be the width and height of the input image*/
	max-width: 600px; max-height: 900px;
}

.l-madLibs-results
{
	/*Change these values to be the width and height of the results image*/
	max-width: 600px; max-height: 900px;
}

.l-madLibs-popup
{
	/*Change these values to be the width and height of the results image*/
	max-width: 600px; max-height: 900px;
}

.l-madLibs-page
{
    /*Change these values to be the width and height of the input image*/
    max-width: 600px; max-height: 900px;
}


/* Propery position the action buttons on the page. */


/*Position page actions for the input page*/
.page-input .page-actions
{
	/*This tells the container for the buttons where to go.*/
	bottom:40px; 
 left: 0;
	
 bottom: 14%;
 width: 100%;
}

/*Position page actions for the results page*/
.page-results .page-actions
{
	/*This tells the container for the buttons where to go.*/
	bottom: 11%; 
	left: 0;
	width: 100%;
}

/*Position page actions for the results page*/
.page-popup .page-actions
{
	/*This tells the container for the buttons where to go.*/
	bottom:40px; 
	right: 50px;
}

/*Position the See Results button. */
#btn-seeResults
{
	right: 10px;
	position: absolute;
}

/*Position the Reset button. */
#btn-reset
{
	left: 10px;
	position: absolute;
}

/*Position the See List button. */
#btn-seeList	
{
	right: 30px;
	position: absolute;
	top: 0;
}

/*Position the ok button. */
#btn-ok
{
	left: 250px;
	position: relative;
}


/*Properly position each individual word*/

/*
#word1Input
{
    top: 0px;
    left: 0px;
}*/

/*Properly position each individual word for the outputs.*/
/*#word1Output
{
    top: 0px;
    left: 0px;
}*/
