.wordChoices
	{
		width:100%;

	.wordChoices-inputGroup
		{
			position: absolute;
			

	}
	.wordChoices-outputGroup
		{
			position: absolute;
			

	}

	.wordChoices-label
		{
		width:100%; position: relative;
	}

	.wordChoices-input
		{
		width:100%; position: relative;
	}

}