.wordChoices
	{
		width:100%;

	.wordChoices-inputGroup
		{
			float:left; clear:left;
			width: 100%;
			

	}

	.wordChoices-label
		{
			float:left; width:40%;
	}

	.wordChoices-input
		{
			float:left; width:60%;
	}

}